.container{
    width: min(100% - 30px, 840px);
    margin-inline: auto;}
h1,h2,h3,h4{
    width: min(100% - 30px, 840px);
    margin-inline: auto;
    text-align: center;
}
section, article, footer{
    text-align: justify;
}