/*Aplicacion general*/
/*Nota: puedes usar hasta 4 diferentes margenes diferentes en margin*/
*{
	margin: 5px 5px;
}
/*Aplicacion al cuerpo de la pagina*/
body{
	background-color: black;
	background-image: url("Web/Imagenes/Take a Break.jpg");
	background-repeat: no-repeat;
/*Si quieres tu imagen en algun lugar usa*/
/*background-position: right/left top; o right/left buttom*/
	background-size: 100%;
	background-attachment: fixed;
}
/*Aplicacion directa a un tag en html*/
h1{
	text-align: center;
	font-size: 48px;
	font-family: times new roman;
	color: white;
	border: dotted 5px;
}
h2{
	text-align: center;
	font-size: 24px;
	font-family: verdana;
	color: white;

}
h3{
	text-align: right;
	font-size: 18px;
	font-family: arial;
	color: lightgrey;
	border:outset;
	border-color: rgb(230,0,38);
	border-width: medium;
}
h4{
	text-align: right;
	font-size: 14px;
	font-family: verdana;
	color: white;
}
/*Si comparten propiedades pueden ser listados a la vez*/
h5,h6{
	text-align: right;
	font-family: arial;
	color: white;
	border:outset;
	border-color: #FFFF00;
	border-width: medium;
}
/*Cualquier etiqueta editable puede ser modificada aqui*/
p{
	text-align: center;
	font-size: 10px;
	font-family: arial;
	color: white;
}
li{
	text-align: left;
	font-family: arial;
	color: white;
	border:dashed;
	border-color: hsl(290,50%,45%);
	border-width: medium;
}
blockquote{
	text-align: left;
	font-family: arial;
	color: white;
	border:solid;
	border-color: hsl(189,60%,40%);
	border-radius: 10px;

}
/*Aplicacion directa a un indicador id en html*/
#titulo1{
	color: black;
	background-color: #CCFFB3;
	opacity: .5;
}
/*Tambien pueden listarse seguidas*/
#Variaciones,#anidadas,#Desordenadas,#Ordenadas{
	color: black;
	background-color: #CCFFB3;
	border: groove 5px;
	border-color: #99CCFF;
	margin-top: 20px;
	margin-bottom: 30px;
}
#Variaciones,#anidadas,#Desordenadas,#Ordenadas{
	color: black;
	background-color: #CCFFB3;
	border: groove 5px;
	border-color: #99CCFF;
	margin-top: 20px;
	margin-bottom: 30px;
}
table{
	width: 90%;
	/*Espacio a lo ancho*/
	padding: 10px;
	/*Espacio a lo largo*/
	border:solid 3px;
	border-color: blue;
	border-radius: 12px;
}
th{
	color: white;
}
td{
	color: white;
}

#tabla1{
	width: 90%;
	/*Espacio a lo ancho*/
	padding: 10px;
	border-color: green;
	border-collapse: collapse;
	/*Apretuja todo*/
}
#recu{
	border-top: solid 2px;
	border-bottom: groove 2px;
	background-color: darkblue;
}

.asign{
	color: #000099;
	background-color: #dfe7f7;
}
/*Opciones de estilo independientes*/
a:link{
	color: blue;
}
/*Pseudoclases; Padres, hijos y hermanos*/
p:nth-child(3){
	color: #4D0040;
	font-size: 15px;
}
p:nth-child(odd){
	background-color: #B3FFBF;
	color: #000000
}
p:nth-child(even){
	background-color: #FFB3BF;
	color: gray;
}
p:last-child{
	background-color: #BFB3FF;
	color: #4D1900;
	border: groove 5px;
	border-color: #99CCFF;
	font-style: italic;
	font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
			font-size: 4vw;
		}