*{
	color: white;
}
#t1{
	background-color: beige;
	border-color: brown;
	border-radius: 10px;
	-moz-box-shadow: beige 20px 30px;
	-webkit-box-shadow: beige 20px, 30px;
	text-align: center;
}
#t1c,#t3c,#t5c{
	color: black;
}
#t2{
	background-color: orange;
	border: 5px solid red;
	box-shadow: rgb(128,106,0) 20px 30px;
	box-shadow: -moz-rgb(128,106,0) 20px 30px;
	box-shadow: -webkit-rgba(153,102,0,3) 20px, 30px;
	text-align: center;
}
#t3{
	height: 44px;
	font: verdana, 20px;
	background-color: beige;
	border-color: brown;
	text-shadow: brown -20px 20px;
	text-shadow: -moz-brown -20px 20px;
	text-shadow: -webkit-grey -20px 20px;
	text-align: center;
}
#t4{
	border: 5px solid brown;
	text-align: center;
	background: linear-gradient(top,white 10%,brown 80%);
	background: -moz-linear-gradient(top,white 10%,brown 80%);
	background: -webkit-linear-gradient(top,white 10%,brown 80%);
}
#t5{
	border: 5px solid brown;
	text-align: center;
	background: radial-gradient(top, circle ,white 10%,brown 15%);
	background: -moz-radial-gradient(top, circle,white 10%,brown 15%);
	background: -webkit-radial-gradient(top, circle,white 10%,brown 15%);
}
#t6{
	border: 4px solid red;
	text-align: center;
	transform: scale(-4,2);
}
#t6c{color: hsla(120,80%,25%,.6);}

#t6:hover{
	text-align: center;
	transform: scale(3,3);
}
#t6c:hover{color: rgba(200,200,45,.9);}